body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(38, 37, 37);
    /* width: 100vh; */
}

.header {
    font-size: 50px;
    color: white;
    text-align: center;
}
.display-num{
    font-size: 100px;
    color: white;
    text-align: center;

}

.card{
    width: 100%;
}


.button-menu{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.button-menu button{
    color: white;
    border-radius: 10px;
    background-color: cornflowerblue;
    border: none;
    height: 45px;
    width: 250px;
    margin: 10px;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.button-menu button:hover{
    background-color: rgb(49, 92, 174);

}